* {
    margin: 0;
    padding: 0;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 15px;
    cursor: pointer;
}
 
.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}
.firstsection {
    background-color: rgb(30, 19, 67);
    height: 400px;
}
 
.secondsection {
    background-color: rgb(30, 19, 67);
    height: 400px;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
.section {
    height: 400px;
    display: flex;
    align-items: center;
    background-color: rgb(30, 19, 67);
    justify-content: center;
    max-width: 100%;
    margin: auto;
}
.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
    padding: 10px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightnav {
    width: 30%;
    text-align: right;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
#search {
    box-sizing: border-box;
    width: 70%;
    padding: 8px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
